#sec-splash {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  .splash-gif {
    margin-top: 40px;
    width: 100%;
    height: auto;
  }
  .txt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
      color: #fff;
      font-weight: 300;
      text-align: center;
      font-size: 40px;
      margin-top: 0px;
      margin-bottom: 5px;
      span{
          font-weight: bold;
      }
    }
  }
}
