<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <section id="sec-splash">
        <ion-col size="12">
          <img
            src="assets/img/bot.gif"
            alt="bot"
            loading="lazy"
            class="splash-gif"
          />
        </ion-col>
        <ion-col size="12">
          <div class="txt-container">
            <h2 class="title">Welcome to <span>Vurotron!</span></h2>
          </div>
        </ion-col>
      </section>
    </ion-row>
  </ion-grid>
</ion-content>
