<!--
// -----------------------------------------------------------------------------
// This file contains the auth component from the login and register.
// -----------------------------------------------------------------------------
-->
<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size="12">
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <ion-col size-sm="12" size="12" id="section-one">
              <img
                src="assets/img/pic_one.svg"
                alt="img"
                loading="lazy"
                class="img"
              />
            </ion-col>
          </ion-slide>
          <ion-slide>
            <ion-col size-sm="12" size="12" id="section-one">
              <img
                src="assets/img/pic_two.svg"
                alt="img"
                loading="lazy"
                class="img"
              />
            </ion-col>
          </ion-slide>
          <ion-slide>
            <ion-col size-sm="12" size="12" id="section-one">
              <img
                src="assets/img/pic_three.svg"
                alt="img"
                loading="lazy"
                class="img"
              />
            </ion-col>
          </ion-slide>
        </ion-slides>
        <h2 class="title">Get into to team for collaborate</h2>
        <p class="heading">
          Bring together your files. your tools projects and people. Including a
          new mobile and desktop application.
        </p>
      </ion-col>
      <ion-col size="12" size-sm="12" id="section-two">
        <ion-row>
          <ion-col size="6" size-sm="6" id="section-three">
            <ion-button mode="ios" (click)="register()">
              <span>Register</span>
            </ion-button>
          </ion-col>
          <ion-col size="6" size-sm="6" id="section-four">
            <ion-button mode="ios" (click)="signIn()">
              <span>Sign In</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
