<!--
// -----------------------------------------------------------------------------
// This file contains the auth component signin.
// -----------------------------------------------------------------------------
-->
<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="title">
          Let's sign you in.<br />
          <span>Welcome back.<br />You've been missed!</span>
        </h2>
      </ion-col>
      <ion-col size="12" id="sec-form">
        <form [formGroup]="formLogin" method="POST"  class="login-form">
          <ion-input
            type="email"
            placeholder="Your email"
            color="dark"
            formControlName="email"
          ></ion-input>
          <ion-input
            type="password"
            placeholder="Your password"
            color="dark"
            formControlName="password"
          ></ion-input>
          <div class="btn-container">
            <p class="heading">
              Don't have account? <a routerLink="/register">Register</a>
            </p>
            <div class="btn-position">
              <ion-button color="light" shape="round" expand="full" [disabled]="!formLogin.valid"  (click)="signIn()">
                <span>Sign In</span>
              </ion-button>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
